In [1]:
import pandas as pd

print("Hello world")

Hello world

In [5]:
pd.read_csv(r"C:\Users\User\Desktop\MyCodingTrainings\ML\pandas\movies.csv")

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

In [3]:
%pwd

'C:\\Users\\User'

In [4]:
%%pwd

UsageError: Cell magic `%%pwd` not found (But line magic `%pwd` exists, did you mean that instead?).